@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(112, 112, 112) url('images/wallpaper002.jpg') left top repeat fixed;
    background-size: cover;
}


div {
    background-color: gray;
    display: inline-block;
    height: 300px;
    width: 300px;
}

main {
    max-width: 920px;
    margin: auto;
    background-color: skyblue;
    border-radius: 15px;
    padding: 20px;
}
p{
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    text-indent: 30px;
    background-color: rgba(255, 255, 255, 0.815);
}

#q1 {
    background-image: url('images/wallpaper003.jpg');
    background-position: left top;
    margin-top: 30px;
}

#q2 {
    background-image: url('images/wallpaper003.jpg');
    background-position: center top;
}

#q3 {
    background-image: url('images/wallpaper003.jpg');
    background-position: right top;
}
#q4{
    background-image: url('images/wallpaper003.jpg');
    background-position: left center;
}
#q5{
    background-image: url('images/wallpaper003.jpg');
    background-position: center center;
}

#q6{
    background-image: url('images/wallpaper003.jpg');
    background-position: right center;
}

#q7{
    background-image: url('images/wallpaper003.jpg');
    background-position: left bottom;
    margin-bottom: 30px;
}

#q8{
    background-image: url('images/wallpaper003.jpg');
    background-position: center bottom;
    margin-bottom: 30px;
}

#q9{
    background-image: url('images/wallpaper003.jpg');
    background-position: right bottom;
    margin-bottom: 30px;
}


#fora{
    display: block;
    position: relative;
    background-image: url('images/pattern001.png');
}
#dentro{
    background-image: url('images/wallpaper001.jpg');
    background-size: cover;
    border: none;
    border-radius: 0px;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}